.mainContainer
{
    width: 100vw;
    height: 100vw;
    background-color: #8065EB;

}

.upperDiv
{
    width: 100%;
    height: auto;
    background-color:#8065EB;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

.detailsContainer
{
    width: 100%;
    height: 10%;
    background-color: #8065EB;
    /* padding: 8rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8%;
}

.btn
{
    width:'10rem';
    height:'3rem';
    border:'4px';
    border-radius:'10px';
    background-color: white;
    position: relative;
    /* margin-left: 40%; */
    /* margin-bottom: 5%; */
    
}
.btn2
{
    width:100%;
    height:'3rem';
    border:'4px';
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}
.btn:hover
{
    background-color: #9e8de5;
}

.dropDpwn
{
    width: 20%;
}


.uuidSelect{
    width: 100%;
    align-items: center;
    border: none;
    padding: 2%;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    align-items: center;
    color: black;
    gap: 5%;

  }
  
  .uuidSelectBox
  {
    width: 30%;
    height: 35px;
    border-radius: 30px;
    align-items: center;
    border: none;
    padding: 2px;
    color: black;
   
  }